h2 {
    color: black ;
}
              
 body{
    color: white  ;
     
}
body{ background-color: dodgerblue;}
h3{
color: black;}
h4{color: purple;}
p {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}